*{
  margin:0;
  padding:0;
}
body{
  background-color: rgb(63, 194, 255);
}
main{
  width:1000px;
  height: 1450px;
  margin: 30px auto;
  padding:20px;
  border: red 3px solid;
  background-color: #fff;
}
.cabecera{
  height: 75px;
  padding:10px;
}
nav{ 
  height: 40px;
  }
.menu{
  margin-left: 60%; 
  margin-top: -60px;
  }
.menu li{
   display:inline;  
}
.menu li a{  
  font-size: 20px;
  padding:5px;  
  border-radius:15px 15px 15px 15px;
  background-color: black;
  color: white;
  text-decoration: none;
  }
  .menu li a:hover{
    background-color: red;
    color: white;
  }
#contenido{
    border:1px solid white;
    height: 500px;
    
}
.cuadro{
    border:2px solid red;
    margin-bottom: 10px;
    display:flex;
    height: 50%;
}
.one,.two{
    width:50%
}
.imagen{
    
    text-align: center;
    align-content: center;
}

footer{
    height: 100px;
    clear:both;
  }
footer div{
    float: left;
  }
.redes{
    float: right;
    margin-top: 0.5em;
    margin-right: 0.5em;
  }
  h1{
    text-align: center;
    color: #fff;
  }
  #Neymar{
    background-color: red;
  }
  #Luis{
    background-color: greenyellow;
  }
  #Kun{
    background-color: yellow;
  }
  #Di{
    background-color: violet;
  }
  div{
    font-family: helvetica
    
  }
  #parrafo  b{
    background-color: yellow;
  }
  hr{
    border: red 2px solid;
    
  }
  header{
    background-color: white;
  }
  footer{
    background-color: white;
  }
  h2{
    color: blue;
  }
  #Lio{
    font-weight: bold;
  }
#menu_inferior{
    margin-left: 30%; 
    }
#menu_inferior li{
     display:inline;  
  }
#menu_inferior li a{  
    font-size: 20px;
    padding:5px;  
    border-radius:30px 30px 30px 30px;
    background-color: black;
    color: white;
    text-decoration: none;
    }
#menu_inferiror li a:hover{
      background-color: red;
      color: white;
    }
#leo1{
  border: 3px solid blue;
  border-radius: 10%;
}
#leo2{
  border: 3px solid blue;
  border-radius: 10%;
}
#DISEÑO{
  text-align: center;
  background-color: gray;
  border-radius: 10px;
}

.imagen{
  width:300px;
  float:left;
  margin:5px 20px;
  border: 3px solid blue;
}
article{
 height: 500px;
  width: 49%;
  float:left; 
}
aside{
  height: 500px; 
  margin-left:51%;
  }

  

  
  

 